{% extends 'base.html.twig' %}

{% block title %}
    Maillots2Foot - Accueil
{% endblock %}

{% block content %}
<div class="container">
    <h2 style="text-align: center;">Nos Maillots Tendance</h2>
    <div class="product-grid">
        <!-- Produit 1 -->
        <div class="product-card">
            <img src="images/Maillot FC Barcelone 2023.jfif" alt="Maillot FC Barcelone 2023">
            <h3>Maillot FC Barcelone 2023</h3>
            <p>Prix: 30.00€</p>
        </div>

        <!-- Produit 2 -->
        <div class="product-card">
            <img src="images/Maillot OM 2023.jfif" alt="Maillot OM 2023">
            <h3>Maillot OM 2023</h3>
            <p>Prix: 30.00€</p>
        </div>

        <!-- Produit 3 -->
        <div class="product-card">
            <img src="images/Maillot Real Madrid 2023.jfif" alt="Maillot Real Madrid 2023">
            <h3>Maillot Real Madrid 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
    </div>
</div>
{% endblock %}