{% extends 'base.html.twig' %}

{% block title %}
    Maillots2Foot - Accueil
{% endblock %}

{% block content %}
<link rel="stylesheet" href="css/maillot.css">
<div class="container">
    <div class="product-grid">
        <!-- Ajout d'exemples de produits -->
        <div class="product-card">
            <img src="images/Maillot FC Barcelone 2023.jfif" alt="Maillot FC Barcelone 2023">
            <h3>Maillot FC Barcelone 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot OM 2023.jfif" alt="Maillot OM 2023">
            <h3>Maillot OM 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot Real Madrid 2023.jfif" alt="Maillot Real Madrid 2023">
            <h3>Maillot Real Madrid 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot Bayern Munich 2023.jfif" alt="Maillot Bayern Munich 2023">
            <h3>Maillot Bayern Munich 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot PSG 2023.jfif" alt="Maillot PSG 2023">
            <h3>Maillot PSG 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot Juventus 2023.jfif" alt="Maillot Juventus 2023">
            <h3>Maillot Juventus 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot Manchester United 2023.jfif" alt="Maillot Manchester United 2023">
            <h3>Maillot Manchester United 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
        <div class="product-card">
            <img src="images/Maillot Chelsea 2023.jfif" alt="Maillot Chelsea 2023">
            <h3>Maillot Chelsea 2023</h3>
            <p>Prix: 30.00€</p>
        </div>
    </div>
</div>

{% endblock %}